body{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.list1{
	padding: 5px 21px;
	border: 1px solid #d3d3d3;
	margin-right: -5px;
	font-size: 12px;
	display: inline-block;
	font-size: 11px;
	font-family: 'Times New Roman', Times, serif;
}
.list1:hover{
	background-color: #fcedaa;
	cursor: pointer;
}
.listActiv{
	background-color: #fcedaa;
}
.head1{
	font-size: 19px;
}
.head2{
	color: #828f88;
	font-size: 10px;
	margin-bottom: 4px;
	margin: 4px 2px;
}
.parDi{
	min-width: 720px;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.ChiDi{
	width: 487px;
	height: auto;
	position: absolute;
	top: 132px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.PreLo{
	height: 128px;
	width: 128px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	
}
.PreLoCont{
	background-color: rgba(0,0,0,.2);
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 10;
}
.TulTp{
	background-color: rgba(0,0,0,.2);
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 15;
}
.Tultp h2{
	text-align: center;
	background-color: white;
	margin: auto;
	padding: 10px;
	border-radius: 4px;

}
.Tultp{
	height: 40px;
	width: 400px;
	margin: auto;
	position: absolute;
	top: -40px;
	right: 0;
	bottom: 0;
	left: 0;
}

.Sel{
	
	-webkit-appearance: none;
	background: url(../img/strip.png) no-repeat right center, linear-gradient(#fdfdfd, #f1f1f1);
	background-position: right center;
	background-repeat: no-repeat;
	line-height: 1em;
	text-indent: 3.01px;
	/* for IE */
	appearance: none;
	-ms-appearance: none!important;
	border-radius: 3px;
	height: 24px;
	width: 100%;
	font-size: 11px;
	font-family: 'Times New Roman', Times, serif;
	border-color: #d6d2d1;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
}
@-moz-document url-prefix() {
  .Sel {
    background: url(../img/strip.png) linear-gradient(#fdfdfd, #f1f1f1);;
    background-position: right center;
	background-repeat: no-repeat;
	line-height: 1em;
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	border: 1px solid #d6d2d1;

  }
}
.Sel:hover{
	background: url(../img/strip.png) no-repeat right center, linear-gradient(#f1f1f1, #fdfdfd);
}

.SP1{
	height: 40px;
	width: 31%;
	display: inline-block;
	margin-top: 14px;
}
.SPR{
	margin-right: 2.5%;
}
.SPL{
	margin-left: 2.5%;
}
.head4{
	margin-top:28px;
	width: 100%;
}
.TEXAR{
	border: 2px solid #ebebeb;
	width: 100%;
	padding: 0;
}
.BUT{
	background-color: #ebebeb;
	border-radius: 3px;
	border: 1px solid #b89e51;
	padding: 6px 15px;
	margin-top:15px; 
	font-size: 10px;
	cursor: pointer;
	font-size: 11px;
	font-family: 'Times New Roman', Times, serif;
}
.BUTACT{
	background-color: #fecf0d;
}